.box1 {
    height: 90px;
    padding: 10px;
    background-color: #e5e0ff;
}

#last #box3 {
    height: 310px;
    width: 700px;
    background-color: #ff8367;
    margin-top: 0px;
    float: left;
}

#last #box4 {
    height: 310px;
    margin-left: 709px;
    background-color: #fff488;
    margin-top: 8px;
}

#box #right {
    height: 300px;
    background-color: #fec4ec;
    margin-left: 309px;
    margin-top: 8px;
}

#box #left {
    height: 300px;
    width: 300px;
    background-color: #fec1c8;
    float: left;
}
#pic img{
    width: 280px;
    height: 280px;
    margin-top: 10px;
    margin-left: 10px;
}
#mail img{
    width: 30px;
    height: 30px;
    margin-left: 170px;
    margin-top: 17px;
}
#fb img{
    width: 30px;
    height: 30px;
    margin-left: 170px;
    margin-top: 16px;
    
}
#ins img{
    width: 30px;
    height: 30px;
    margin-left: 170px;
    
    
}
#phone img{
    width: 30px;
    height:  30px;
    margin-left: 170px;
    margin-top: 15px;
}
#text{
    margin-top: 8px;
    
}
#pic1 img{
    float: left;
    padding: 25px 125px;
 }
 #pic3{
 float: right;
 padding: 50px 10px;
 }